mkdocs
mkdocs-autorefs
mkdocs-gallery
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-include-markdown-plugin
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-section-index
mkdocstrings[crystal,python]
mknotebooks
pymdown-extensions